* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f4f4fc;
}

header {
  width: 50%;
}
.logo {
  width: 10%;
  padding: 40px 0 0 40px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text_box {
  width: 50vw;
  height: 50vh;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  background-color: #f4f4fc;
  cursor: pointer;
  color: #0a3871;
  font-size: 32px;
  font-weight: 400;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.section_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.alert {
  display: flex;
  gap: 10px;
  margin-top: 13%;
  margin-bottom: 2%;
}

.button_container,
.alert {
  align-self: flex-start;
}

.result_container {
  position: relative;
  margin-top: -55px;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  height: 95vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
}

.button_container {
  display: flex;
  gap: 20px;
}

.encrypt_button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #0a3871;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.decrypt_button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #d8dfe8;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #0a3871;
  cursor: pointer;
}

.result_container__msg {
  padding: 20px;
  text-align: center;
}

.result_container__copy_text {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.copy_button {
  width: 328px;
  height: 67px;
  border: 1px solid #0a3871;
  padding: 10px;
  background: none;
  border-radius: 24px;
  color: #0a3871;

  box-sizing: border-box;
  display: inline-block;
}

.result_container__solution__text {
  padding: 15px;
  color: #495057;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 75vh;
  margin-top: -380px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .result_container {
    margin-top: 50px;
    width: 100vh;
    min-width: 400px;
    max-width: 100vw;
    max-height: 30vh;
  }

  .result_container__img {
    display: none;
  }

  .result_container__solution__text {
    color: #495057;
    margin-top: -30px;
    font-size: 20px;
    margin-left: 10px;
    z-index: 1;
    overflow-y: auto;
    max-height: 10vh;
    width: calc(100% - 50px);
  }
}

@media only screen and (max-width: 768px) {
  .result_container {
    margin-left: -100px;
    margin-top: 50px;
    width: 100vh;
    min-width: 300px;
    max-width: 80vw;
    max-height: 30vh;
  }

  .section_text_box {
    height: 80vh;
  }

  .result_container__solution__text {
    font-size: 20px;
  }

  .alert,
  .button_container {
    margin-left: -100px;
  }

  .decrypt_button,
  .encrypt_button {
    width: 280px;
    height: 60px;
  }
}

@media only screen and (max-width: 660px) {
  .logo {
    width: 40%;
    padding: 15px 0 0 5px;
  }

  .section_text_box {
    height: 50vh;
  }

  .text_box {
    width: 80%;
    height: 80%;
    font-size: 18px;
    padding: 35px;
  }

  .alert,
  .button_container {
    margin-left: 35px;
  }

  .alert {
    margin-top: 80px;
    font-size: 12px;
  }

  .button_container {
    display: block;
  }

  .encrypt_button {
    margin-bottom: 24px;
  }

  .result_container {
    margin-left: 20px;
    margin-top: 50px;
    width: 100vh;
    min-width: 100px;
    max-width: 100vw;
    max-height: 30vh;
  }

  .result_container__solution__text {
    color: #495057;
    font-size: 16px;
    margin-top: -80px;
    margin-left: 10px;
    z-index: 1;
    overflow-y: auto;
    max-height: 10vh;
    width: calc(100% - 40px);
  }
  .encrypt_button,
  .decrypt_button {
    width: 300px;
    height: 67px;
  }

  .copy_button {
    width: 279px;
    left: 45px;
    top: 100px;
  }
}

@media only screen and (max-width: 375px) {
  main {
    padding-left: 15px;
  }
  .logo {
    width: 40%;
    padding: 15px 0 0 5px;
  }

  .text_box {
    width: 80%;
    font-size: 18px;
    padding: 35px;
  }

  .alert,
  .button_container {
    margin-left: 24px;
  }

  .alert {
    margin-top: 80px;
    font-size: 12px;
  }

  .button_container {
    display: block;
  }
  .encrypt_button {
    margin-bottom: 24px;
  }

  .result_container {
    margin-left: 5px;
    margin-top: 50px;
    width: 100vh;
    min-width: 100px;
    max-width: 90vw;
    max-height: 30vh;
  }

  .result_container__solution__text {
    color: #495057;
    font-size: 16px;
    margin-top: -80px;
    margin-left: 10px;
    z-index: 1;
    overflow-y: auto;
    max-height: 10vh;
    width: calc(100% - 40px);
  }
  .encrypt_button,
  .decrypt_button {
    width: 300px;
    height: 67px;
  }

  .copy_button {
    width: 279px;
    left: 45px;
    top: 100px;
  }
}
